<div class="frame-foyer">
  <h1>Les aides dont vous bénéficiez déjà</h1>
  <form class="form-horizontal">

    <div class="form-group"
      ng-repeat="benefit in benefits"
      >
      <div class="col-sm-4 control-label">
        <label for="tauxIncapacite" id="tauxIncapaciteQuestion">
          {{benefit.label}} ???
        </label>
      </div>
      <div class="button-row">
        <label
          ng-repeat="alternative in alternatives"
          class="btn btn-default"
          ng-class="{ 'active': benefit.status == alternative.value }"
        >
          <input type="radio"
            class="sr-only"
            ng-model="benefit.status"
            ng-value="alternative.value"
            />
            {{alternative.label}}
        </label>
      </div>
    </div>
    <next-button></next-button>
  </form>
</div>
